*{
    margin:0px;
    padding:0px;
}
body{
    background-color:#c4c4c433;
}

.container{
    /* display:flex; */
    /* background-color: #c4c4c433; */
    /* height: 100vh; */
    padding:20px;
    /* justify-content: space-around; */
}

.box{
    background-color: #7ca5db;
    padding:20px;
    flex-basis:30%;
    box-sizing: border-box;
    margin-bottom:20px;
    border: solid black 10px;
}

h3{
    margin:0px;
    /* padding:0px; */
}

@media (min-width: 900px) {
    .container {
      display: flex;
      justify-content: space-between;
    }
  }

.box:nth-child(2) {background-color: #62f36a;}
.box:nth-child(3) {background-color: #ccb9da;}

.banner{
    width:40vw;
    height:40vh;
    display:flex;
    margin:15vh auto 15vh auto;
    background-color:#fcb024
}

.center{
    margin: auto;
    font-size:2vw;
}

h1{
    font-size:3.5vw;
    font-weight: bold;
}

.container3{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    /* flex-direction:column-reverse; */
}

.square{
    width: 120px;
    height: 120px;
    background-color: rgb(248, 3, 187);
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 120px;
    margin-right:10px;
    margin-left:10px;
}

.container4{
    display:flex;
    justify-content:center;
    align-items: center;
}

.circleB{
    width:250px;
    height:250px;
    border-radius:50%;
    background-color: yellow;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom:40px;
}

.circles{
    width:150px;
    height:150px;
    border-radius:50%;
    background-color: blue;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:30px;
}
